[run]
# include = */src/*
# omit anything in a virtualenv directory anywhere
omit =
    /home/travis/virtualenv/*
    *.yml
    /home/travis/img/*
    __init__*
    *.md
    docs/*
    venv/*
    *.gif
    *.html
    /tests/*

[report]
; Regexes for lines to exclude from consideration

exclude_also =
    ; Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
