[flake8]
# W191 indentation contains tabs
ignore = W191
exclude =
    .git,
    __pycache__,
    .circleci,
    .github,
    .idea,
    allure-report,
    allure-results,
    deprecated,
    docs,
    img,
    venv
max-complexity = 10
max-line-length = 127