---
name: Codacy Coverage Reporter

# Source:
# https://github.com/codacy/codacy-coverage-reporter-action
on:  # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - kyu2
      - kyu3
      - kyu4
      - kyu5
      - kyu6
      - kyu7
      - kyu8
      - utils
      - Documentation
  workflow_call:

jobs:
  codacy-coverage-reporter:
    runs-on: 'ubuntu-24.04'
    # Adding 'timeout-minutes: 10' would prevent jobs from running
    # indefinitely if something goes wrong
    timeout-minutes: 10
    name: codacy-coverage-reporter
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"
          check-latest: true
      - name: Check Python version
        run: python --version
      - name: Install prerequisites
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install --upgrade wheel
          pip install --no-cache-dir -r requirements.txt --upgrade
      - name: Install pytest, pytest-cov
        run: |
          pip install pytest
          pip install pytest-cov
      - name: Generate coverage report
        # You must now upload using a token.
        # https://app.codecov.io/gh/iKostanOrg/codewars/tests/new
        # yamllint disable rule:line-length
        run: |
          python -c "import os; print(os.getcwd())"
          python -m pytest . -v --cov-report term-missing --cov-report=xml --cov=./
        # yamllint enable rule:line-length
      - name: List test files
        run: |
          ls
      - name: Run codacy-coverage-reporter
        run: |
            export CODACY_API_TOKEN=${{ secrets.CODACY_API_TOKEN }}
            export CODACY_ORGANIZATION_PROVIDER=gh
            export CODACY_USERNAME=iKostanOrg
            export CODACY_PROJECT_NAME=codewars
            bash <(curl -Ls https://coverage.codacy.com/get.sh)
