---
name: Codacy Coverage Reporter

# Source:
# https://github.com/codacy/codacy-coverage-reporter-action
on:  # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - kyu2
      - kyu3
      - kyu4
      - kyu5
      - kyu6
      - kyu7
      - kyu8
      - utils
      - Documentation
  workflow_call:

jobs:
  codacy-coverage-reporter:
    runs-on: 'ubuntu-24.04'
    # Adding 'timeout-minutes: 10' would prevent jobs from running
    # indefinitely if something goes wrong
    timeout-minutes: 10
    name: codacy-coverage-reporter
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"
          check-latest: true
      - name: Check Python version
        run: python --version
      - name: Install prerequisites
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install --upgrade wheel
          python -m pip install --no-cache-dir -r requirements.txt --upgrade
      - name: Install pytest, coverage
        run: |
          python -m pip install pytest
          python -m pip install coverage
      - name: Check coverage version
        run: |
          python -m coverage --version
      - name: Generate coverage report
        run: |
          python -c "import os; print(os.getcwd())"
          coverage run --data-file=cobertura.xml -m pytest
          coverage report
      - name: List test files
        run: |
          ls
      # https://docs.codacy.com/coverage-reporter/
      - name: Run codacy-coverage-reporter
        run: |
            export CODACY_API_TOKEN=${{ secrets.CODACY_API_TOKEN }}
            export CODACY_ORGANIZATION_PROVIDER=gh
            export CODACY_USERNAME=iKostanOrg
            export CODACY_PROJECT_NAME=codewars
            bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r cobertura.xml
