---
name: Codacy Coverage Reporter

# Source:
# https://github.com/codacy/codacy-coverage-reporter-action
on:  # yamllint disable-line rule:truthy
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  workflow_call:
    secrets:
      #api-token:
      #  required: true
      project-token:
        required: true

jobs:
  codacy-coverage-reporter:
    runs-on: ubuntu-latest
    name: codacy-coverage-reporter
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install prerequisites
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - name: Install pytest, pytest-cov
        run: |
          pip install pytest
          pip install pytest-cov
      - name: Generate coverage report
        # You must now upload using a token.
        # https://app.codecov.io/gh/iKostanOrg/codewars/tests/new
        # yamllint disable rule:line-length
        run: |
          python -c "import os; print(os.getcwd())"
          python -m pytest . -v --cov-report term-missing --cov-report=xml --cov=./
        # yamllint enable rule:line-length
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.project-token }}
          # api-token: ${{ secrets.api-token }}
          coverage-reports: /home/runner/work/codewars/codewars/coverage.xml
          language: 'Python'
