---
name: Code Climate Coverage Report

on:  # yamllint disable-line rule:truthy
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  workflow_call:
    secrets:
      cc_test_reporter_id:
        required: true

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.X"]
    steps:
      - uses: actions/checkout@main
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install pytest
          pip install -r requirements.txt
          pip install pytest-cov
      - name: Check PYTHONPATH
        run: |
          pwd
          export PYTHONPATH=.:$PYTHONPATH
      - name: Upload coverage to Code Climate
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          # yamllint disable rule:line-length
          coverageCommand: python -m pytest . -v --cov-report term-missing --cov=lessons --cov-report=xml --cov=./
          # yamllint enable rule:line-length
          debug: true
