---
name: Codecov Coverage Report

on:  # yamllint disable-line rule:truthy
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  # Why is Codecov upload step in GitHub Actions not finding the token?
  # https://stackoverflow.com/questions/78298827/why-is-codecov-upload-step-in-github-actions-not-finding-the-token
  workflow_call:
    secrets:
      codecov_token:
        required: true
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@main
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"
          check-latest: true
      - run: python --version
      - name: Install prerequisites
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - name: Install pytest, pytest-cov
        run: |
          pip install pytest
          pip install pytest-cov
      - name: Generate coverage report
        # You must now upload using a token.
        # https://app.codecov.io/gh/iKostanOrg/codewars/tests/new
        # yamllint disable rule:line-length
        run: |
          python -c "import os; print(os.getcwd())"
          python -m pytest . -v --cov-report term-missing --cov-report=xml --cov=./ --junitxml=junit.xml -o junit_family=legacy --debug
        # yamllint enable rule:line-length
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.codecov_token }}
