---
name: CodeClimate (qlty.sh) Coverage Report

on:  # yamllint disable-line rule:truthy
  workflow_call:
    secrets:
      qlty_coverage_token:
        required: true

jobs:
  run:
    runs-on: ${{ matrix.os }}
    # Adding 'timeout-minutes: 10' would prevent jobs from running
    # indefinitely if something goes wrong
    timeout-minutes: 10
    strategy:
      matrix:
        os: ['ubuntu-24.04']
        python-version: ["3.X"]
    steps:
      - uses: actions/checkout@main
      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"
          check-latest: true
      - name: Check Python version
        run: python --version
      - name: Check PYTHONPATH
        run: |
          pwd
          export PYTHONPATH=.:$PYTHONPATH
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install --upgrade wheel
          python -m pip install --no-cache-dir -r requirements.txt --upgrade
      - name: Install pytest, pytest-cov
        run: |
          python -m pip install pytest
          python -m pip install pytest-cov
      - name: Check pytest, pytest-cov version
        run: |
          python -m pytest --version
      - name: Upload coverage to Code Climate
        uses: qltysh/qlty-action/coverage@main
        with:
          coverage-token: ${{ secrets.qlty_coverage_token }}
          files: reports/lcov.info
          # yamllint disable rule:line-length
          coverageCommand:
            python -m pytest . -v --cov-report term-missing --cov-report=lcov --cov=./ --debug
          debug: true
          # yamllint enable rule:line-length
      - name: List test files
        run: |
          ls *.lcov
