---
name: Main Build Pipeline

on:   # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - kyu2
      - kyu3
      - kyu4
      - kyu5
      - kyu6
      - kyu7
      - kyu8
      - utils
      - Documentation

jobs:
  markdown:
    name: Markdown Lint
    uses: iKostanOrg/codewars/.github/workflows/markdown_lint.yml@master
  pylint:
    name: Py Lint
    uses: iKostanOrg/codewars/.github/workflows/pylint.yml@master
  mypy:
    name: MyPy Lint
    uses: iKostanOrg/codewars/.github/workflows/mypy.yml@master
  flake8:
    name: Flake8 Lint
    uses: iKostanOrg/codewars/.github/workflows/flake8.yml@master
  yamllint:
    name: YAML Lint
    uses: iKostanOrg/codewars/.github/workflows/yamllint.yml@master
  pydocstyle:
    name: PyDocStyle Lint
    uses: iKostanOrg/codewars/.github/workflows/pydocstyle.yml@master
  pytype:
    name: PYTYPE Lint
    needs:
      - flake8
      - pylint
      - markdown
      - mypy
      - yamllint
      - pydocstyle
    uses: iKostanOrg/codewars/.github/workflows/pytype.yml@master
  pytest:
    name: Unitest with pytest
    needs:
      - pytype
    uses: iKostanOrg/codewars/.github/workflows/pytest.yml@master
  codecov:
    name: Codecov GitHub Action
    needs:
      - pytest
    uses: iKostanOrg/codewars/.github/workflows/codecov.yml@master
    # Why is Codecov upload step in GitHub Actions not finding the token?
    # https://stackoverflow.com/questions/78298827/why-is-codecov-upload-step-in-github-actions-not-finding-the-token
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  codeclimate:
    name: Codeclimate Github Action
    needs:
      - pytest
    uses: iKostanOrg/codewars/.github/workflows/codeclimate_coverage.yml@master
    secrets:
      cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
  codeql:
    name: CodeQL for a new build
    needs:
      - codecov
      - codeclimate
    uses: iKostanOrg/codewars/.github/workflows/codeql.yml@master
  snyk:
    name: Snyk for a new build
    needs:
      - codecov
      - codeclimate
    uses: iKostanOrg/codewars/.github/workflows/snyk.yml@master
    secrets:
      snyk_token: ${{ secrets.SNYK_TOKEN }}
