name: 'Markdown Lint'

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - 'Documentation'
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout v4
      uses: actions/checkout@v4
    - name: markdownlint-cli2-action v16
      uses: DavidAnson/markdownlint-cli2-action@v17
      with:
       config: '.markdownlint-cli2.yaml'
       fix: true
       globs: '**/*.md'
       separator: ','
