name: 'Markdown Lint'

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: markdownlint-cli2-action
      uses: DavidAnson/markdownlint-cli2-action@v16
      with:
        config: '.markdownlint-cli2.yaml'
        fix: true
        globs: '**/*.md'
        separator: ','
