---
name: pydocstyle for kyu2

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - 'kyu2'

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.x"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        # This is the version of the action for setting up Python,
        # not the Python version.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # You can test your matrix by printing the current Python version
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          python -m pip install pydocstyle
          python -m pip install types-requests
      - name: Check pydocstyle version
        run: |
          python -m pydocstyle --version
      - name: Doc style checking with pydocstyle
        # Pydocstyle testing (Guide)
        # https://www.pydocstyle.org/en/stable/usage.html#cli-usage
        run: |
          python -m pydocstyle --verbose --explain --count kyu_2
