---
name: pydocstyle

on:   # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: 'ubuntu-24.04'
    # Adding 'timeout-minutes: 10' would prevent jobs from running
    # indefinitely if something goes wrong
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.x"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        # This is the version of the action for setting up Python,
        # not the Python version.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # You can test your matrix by printing the current Python version
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          python -m pip install pydocstyle
          python -m pip install types-requests
      - name: Check pydocstyle version
        run: |
          python -m pydocstyle --version
      # Pydocstyle testing (Guide)
      # https://www.pydocstyle.org/en/stable/usage.html#cli-usage
      - name: Doc style checking with pydocstyle for kyu_2
        run: |
          python -m pydocstyle --verbose --explain --count kyu_2
      - name: Doc style checking with pydocstyle for kyu_3
        run: |
          python -m pydocstyle --verbose --explain --count kyu_3
      - name: Doc style checking with pydocstyle for kyu_4
        run: |
          python -m pydocstyle --verbose --explain --count kyu_4
      - name: Doc style checking with pydocstyle for kyu_5
        run: |
          python -m pydocstyle --verbose --explain --count kyu_5
      - name: Doc style checking with pydocstyle for kyu_6
        run: |
          python -m pydocstyle --verbose --explain --count kyu_6
      - name: Doc style checking with pydocstyle for kyu_7
        run: |
          python -m pydocstyle --verbose --explain --count kyu_7
      - name: Doc style checking with pydocstyle for kyu_8
        run: |
          python -m pydocstyle --verbose --explain --count kyu_8
